<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
  <property name="hibernate.connection.password">BET</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@server_oraclelinux:1521:pdb1</property>
  <property name="hibernate.connection.username">BET</property>
  <property name="hibernate.default_schema">BET</property>
  <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping class="entities.Categoria"/>
  <mapping class="entities.Articolo"/>
 </session-factory>
</hibernate-configuration>
